@import "./settings";
@import "./components";
@import "./pages";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: $font-stack;
  font-size: $base-font-size;
  line-height: 1.6;
  color: $muted-text;
  background-color: white;
}

h1 {
  &.title {
    font-weight: 900;
  }
  &.muted {
    color: $muted-text;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brand-secondary;
  margin-bottom: $space-sm;
  margin-top: 0;
}

h5 {
  margin-bottom: 0;
}

span {
  font-size: 0.7rem;
}

p {
  margin-bottom: $space-md;
}

a {
  color: $muted-text;
  text-decoration: none;

  &:hover {
    color: $brand-secondary;
  }
}

// Buttons
button {
  width: 100%;
  padding: 13px $space-md;
  margin-top: $space-xs;
  background-color: $brand-primary;
  color: $brand-secondary;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  font-size: xx-small;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: adjust-color($brand-primary, $lightness: -10%);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
  }

  &.link {
    width: fit-content;
    background-color: transparent;
    border: 2px solid transparent;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      box-shadow: none;
    }
  }
  &.filter-active {
    background-color: $brand-primary;
  }

  &.destructive {
    background-color: $destructive;
    color: $muted-white;
    &:hover {
      background-color: adjust-color($destructive, $lightness: -10%);
    }
  }
}

// Box/Card Styling
.box {
  max-width: $tablet;
  padding: $space-md;
  margin-bottom: $space-lg;
  background-color: $muted-white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

// Other Elements
label {
  font-size: xx-small;
}

input,
textarea,
select {
  font-size: x-small;
  padding: $space-sm;
  border: thin solid $brand-primary;
  border-radius: 12px;
  width: 100%;
  margin-bottom: $space-md;
}
