@import "./settings";
@import "./layout";
@import "./components";
@import "./pages";

body {
  font-family: $font-stack;
  font-size: $base-font-size;
  line-height: 1.6;
  color: $muted-text;
  background-color: white;
}

.layout-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  width: 100%;

  @include min-tablet {
    flex-direction: row;
    justify-content: center;
    max-width: 90%;
  }

  @include min-lg {
    max-width: 75%;
  }

  header {
    display: flex;
    justify-content: end;
    padding: $space-xs;
    @include min-tablet {
      display: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brand-secondary;
  margin-bottom: $space-sm;
  margin-top: 0;
}

h5 {
  margin-bottom: 0;
}

span {
  font-size: 0.7rem;
}

.muted-title {
  color: $muted-text;
  margin-bottom: $space-xs;
}

p {
  margin-bottom: $space-md;
}

a {
  color: $muted-text;
  text-decoration: none;

  &:hover {
    color: $brand-secondary;
  }
}

// Buttons
button {
  width: 100%;
  padding: 13px $space-md;
  margin-top: $space-xs;
  background-color: $brand-primary;
  color: $brand-secondary;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  font-size: xx-small;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: adjust-color($brand-primary, $lightness: -10%);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
  }

  &.link {
    width: fit-content;
    background-color: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    // padding-left: 0;

    &:hover {
      text-decoration: underline;
      box-shadow: none;
    }
  }
}

// Box/Card Styling
.box {
  background-color: $muted-white;
  padding: $space-md;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: $space-lg;

  max-width: $tablet;
}

// Other Elements
label {
  font-size: xx-small;
}

input,
textarea,
select {
  padding: $space-sm;
  border: thin solid $brand-primary;
  border-radius: 12px;
  width: 100%;
  margin-bottom: $space-md;
}
