@mixin break-point {
  position: fixed;
  left: -$sidebar-width;
}

.sidebar {
  @include flex-col;
  border-right: thin solid #726e6e33;
  height: 100%;
  width: $sidebar-width;
  min-width: $sidebar-width;
  text-align: left;
  // transition: width, left, right, 0.3s;
  // position: relative;
  z-index: 1009;
  padding: 2rem 1rem 1rem;

  .nav {
    @include flex-col;
    flex-grow: 1;
    justify-content: space-between;
  }
}

.detail {
  padding: 2rem 1rem 1rem;
  width: 100%;
}
