// Add all element states
@mixin hover {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

// Simple Transition
@mixin transition($time, $type: ease-in-out) {
  transition: all $time $type;
}

@mixin flex-col() {
  display: flex;
  flex-direction: column;
}

// Media queries using defined variables
@mixin mq-xs {
  @media (max-width: #{$phone}) {
    @content;
  }
}
@mixin mq-sm {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mq-md {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin mq-lg {
  @media (max-width: #{$widescreen}) {
    @content;
  }
}
