// Add all element states
@mixin hover {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

// Simple Transition
@mixin transition($time, $type: ease-in-out) {
  transition: all $time $type;
}

@mixin flex-col($align: null) {
  display: flex;
  flex-direction: column;

  @if $align != null {
    align-items: $align;
  }
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
}

// Reusable Column Class

// Media queries using defined variables

// max-width
@mixin max-xs {
  @media (max-width: #{$phone}) {
    @content;
  }
}

// min-width
@mixin min-xs {
  @media (min-width: #{$phone}) {
    @content;
  }
}

@mixin min-tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin min-md {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin min-lg {
  @media (min-width: #{$widescreen}) {
    @content;
  }
}
