$brand-primary: #9fe870;
$brand-secondary: #163300;
$muted-white: #f8f8f8; // Light muted white for boxes/cards
$text: #302e2e; // Muted color for normal text
$muted-text: #666; // Muted color for normal text

// $brand-font: "PT Sans";

$phone: 480px;
$tablet: 769px;
$desktop: 960px;
$widescreen: 1200px;

// Fonts
$font-stack: "Helvetica Neue", sans-serif;
$base-font-size: 16px;

// Spacing Scale
$spacing-unit: 8px; // Base spacing unit

// Spacing Variables
$space-xs: $spacing-unit * 0.5; // 4px
$space-sm: $spacing-unit; // 8px
$space-md: $spacing-unit * 2; // 16px
$space-lg: $spacing-unit * 3; // 24px
$space-xl: $spacing-unit * 4; // 32px
$space-xxl: $spacing-unit * 5; // 40px

//
$sidebar-width: 200px !default;
