@import "../settings";

// Main component in RootLayout
.sidebar {
  width: 100%;
  height: 100%;
  @include flex-col;
  padding: 2rem 1rem 1rem;
  text-align: left;
  background-color: rgb(255, 255, 255);
  z-index: 100;

  position: absolute; // Overlay the content on mobile
  top: 0;
  left: 0;

  transition: transform 0.3s ease;
  transform: translateX(-100%); // Initially hidden

  @include min-tablet {
    width: $sidebar-width;
    position: static; // Reset position
    transform: translateX(0); // Always visible
  }

  &.active {
    transform: translateX(0);
  }

  .nav {
    @include flex-col;
    flex-grow: 1;
    justify-content: space-between;

    a.active {
      color: $brand-secondary;
      font-weight: 600;
    }
  }

  .sidebar-header {
    @include flex-between;
    align-items: center;

    button {
      @include min-tablet {
        display: none;
      }
    }
  }
}
