@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.expenses-section {
  max-width: 769px;
}
.expenses-section article {
  display: flex;
  justify-content: space-between;
}
.expenses-section li.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}
.expenses-section li.item:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
.expenses-section li.item section {
  display: flex;
  align-items: center;
}
.expenses-section li.item section article {
  padding-left: 16px;
}
.expenses-section li.item .action-section {
  display: flex;
  align-items: center;
  gap: 8px;
}
.expenses-section li.item .action-section article {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.expenses-section li.item .action-section article.start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.expenses-section li.item .action-section .icon-container {
  display: flex;
  align-items: center;
  padding-left: 16px;
  height: 100%;
}
.expenses-section li.item .amount.in {
  color: #2f5711;
}
.expenses-section .col {
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-items: start;
}
.expenses-section .col:last-child {
  text-align: right;
}
.expenses-section .col.start {
  text-align: left;
}

.expenses-list {
  max-width: 769px;
}

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem;
  text-align: left;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}
@media (min-width: 769px) {
  .sidebar {
    width: 30%;
    position: static;
    transform: translateX(0);
  }
}
.sidebar.active {
  transform: translateX(0);
}
.sidebar .nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
.sidebar .nav a.active {
  color: #163300;
  font-weight: 600;
}
.sidebar .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 769px) {
  .sidebar .sidebar-header button {
    display: none;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-block: 24px;
}
@media (min-width: 769px) {
  .filters {
    flex-direction: row;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px;
  overflow-y: scroll;
  background: white;
  background: linear-gradient(137deg, white 20%, rgb(223, 247, 208) 50%, #9fe870 70%, #163300 100%);
}
@media (max-width: 480px) {
  .container {
    padding: 40px 0 0 0;
  }
}
.container h1 {
  text-align: center;
}
.container form {
  max-width: 480px;
  padding-top: 24px;
}
.container form section {
  margin-top: 24px;
  align-self: flex-start;
}
@media (max-width: 480px) {
  .container form {
    padding: 0.6rem;
  }
}
.container form article {
  display: flex;
  gap: 24px;
}
@media (max-width: 480px) {
  .container form article {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 769px) {
  .layout-container {
    flex-direction: row;
    justify-content: center;
    max-width: 90%;
  }
}
@media (min-width: 1200px) {
  .layout-container {
    max-width: 75%;
  }
}
.layout-container header {
  display: flex;
  justify-content: end;
  padding: 4px;
}
@media (min-width: 769px) {
  .layout-container header {
    display: none;
  }
}

.detail {
  padding: 16px;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 769px) {
  .detail {
    gap: 40px;
    padding: 2rem 1rem 1rem;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #666;
  background-color: white;
}

h1.title {
  font-weight: 900;
}
h1.muted {
  color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #163300;
  margin-bottom: 8px;
  margin-top: 0;
}

h5 {
  margin-bottom: 0;
}

span {
  font-size: 0.7rem;
}

p {
  margin-bottom: 16px;
}

a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #163300;
}

button {
  width: 100%;
  padding: 13px 16px;
  margin-top: 4px;
  background-color: #9fe870;
  color: #163300;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-size: xx-small;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(129.5060240964, 224.9337349398, 68.0662650602);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: none;
}
button.link {
  width: fit-content;
  background-color: transparent;
  border: 2px solid transparent;
  text-decoration: none;
}
button.link:hover {
  text-decoration: underline;
  box-shadow: none;
}
button.filter-active {
  background-color: #9fe870;
}
button.destructive {
  background-color: #b3261e;
  color: #f8f8f8;
}
button.destructive:hover {
  background-color: rgb(135.3205741627, 28.7272727273, 22.6794258373);
}

.box {
  max-width: 769px;
  padding: 16px;
  margin-bottom: 24px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  font-size: xx-small;
}

input,
textarea,
select {
  font-size: x-small;
  padding: 8px;
  border: thin solid #9fe870;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 16px;
}

/*# sourceMappingURL=style.css.map */
