@import "../../styles/settings";

.loginContainer {
  width: 100%;
  @include flex-col;
  justify-content: start;
  align-items: center;
  padding: $space-xxl;
  overflow-y: scroll;

  background: white;
  background: linear-gradient(
    137deg,
    white 20%,
    rgba(223, 247, 208, 1) 50%,
    $brand-primary 70%,
    $brand-secondary 100%
  );

  @include max-xs {
    padding: $space-xxl 0 0 0;
  }

  h1 {
    text-align: center;
  }

  .loginForm {
    max-width: $phone;
    padding-top: $space-lg;

    .formSection {
      margin-top: $space-lg;
      align-self: flex-start;
    }

    @include max-xs {
      padding: 0.6rem;
    }

    .socialButtonsContainer {
      display: flex;
      gap: $space-lg;
      @include max-xs {
        @include flex-col;
        gap: $space-xs;
      }
    }
  }
}
